.map
  margin-bottom: 20px
  img 
    max-width 100%
.mark-items
  margin-bottom: 40px
  .item
    margin-bottom: 10px
    font-size: $mini-fontsize
    font-weight: 500
    color: #a3a3a3
    &:first-child
      font-size: $default-fontsize