header
  .header-main
    max-width: 960px
    margin: auto
    display: flex
    align-items: center
    justify-content: space-between
    .header-nav
      ul
        display: flex
        align-items: center
        li
          a.active,
          a:hover
            background: $main-color
            color: $white-color
          
          a
            color #202020
            text-decoration: none
            display: block
            padding: 20px
            &:visited
              color: #202020
            &:hover
              background: $main-color
              color: $white-color
            