header
  .header-main
    max-width: 960px
    display: flex
    align-items: center
    justify-content: space-between
    .header-nav
      ul
        display: flex
        align-items: center
        li
          padding: 20px
          &.active,
          &:hover
            background: $main-color
            color: $white-color