.icon
  &:after
    content ''
    display: inline-block
    width: auto
    background-repeat: no-repeat
    background-size: 100%
    min-width: 20px
    min-height: 20px
    vertical-align: middle;
    margin-right: 8px
.icon-address
  &:after
    background-image: url('../images/icons/icon-address.png')
.icon-email
  &:after
    background-image: url('../images/icons/icon-email.png')
.icon-fax
  &:after
    background-image: url('../images/icons/icon-fax.png')
.icon-phone
  &:after
    background-image: url('../images/icons/icon-phone.png')
.icon-postcode
  &:after
    background-image: url('../images/icons/icon-postcode.png')
.icon-address
  &:after
    background-image: url('../images/icons/icon-address.png')
