$main-color = #3b81bd
$background-color = #ebf2f8

$black-color = #000000
$white-color = #ffffff

$default-color = $black-color
$default-back = #cecece

$border-color = #666

$default-fontsize = 14px
$mini-fontsize = 12px
$larger-fontsize = 16px
$big-fontsize = 20px

$font-color = #666