$main-color = #0c6bfa
$background-color = #68cdfd

$black-color = #000000
$white-color = #ffffff

$default-color = $black-color
$default-back = #cecece

$default-fontsize = 14px
$mini-fontsize = 12px
$larger-fontsize = 16px
$big-fontsize = 20px

