header
  .header-main
    .header-logo
      img(src="", alt="")
    .header-nav
      ul
        li.active
          a(href="#") 关于真言
        li
          a(href="#") 新闻中心
        li
          a(href="#") 产品中心
        li
          a(href="#") 解决方案
        li
          a(href="#") 典型案例
        li
          a(href="#") 技术服务
        li
          a(href="#") 招贤纳士
        li
          a(href="#") 联系我们
