header
  .header-main
    .header-logo
      img(src="./static/images/logo.png", alt="")
    .header-nav
      ul
        li.active
          a(href="index.html") 关于真言
        li
          a(href="news.html") 新闻中心
        li
          a(href="products.html") 产品中心
        li
          a(href="solutions.html") 解决方案
        li
          a(href="example.html") 典型案例
        li
          a(href="server.html") 技术服务
        li
          a(href="recruitment.html") 招贤纳士
        li
          a(href="contact.html") 联系我们
