.swiper-container.hero-banner
  .swiper-wrapper
    .swiper-slide
      img(src="./static/images/banner-1.png", alt="")
    .swiper-slide
      img(src="./static/images/banner-2.png", alt="")
  .swiper-pagination