doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    block styles
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">   
    <script type="text/javascript" src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=GXdu5k7ByAnymGNbZaEG65WL2DktAWWF"></script>
body
  block header
  block main-content
  
  block footer
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"> </script>
  script(src="./static/js/main.js")